In [1]:
import kagglehub
import os
import pandas as pd

path = kagglehub.dataset_download("jessemostipak/volcano-eruptions")

print("Path to dataset files:", path)

/Users/veronica/Documents/Github/seismic-agent/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /Users/veronica/.cache/kagglehub/datasets/jessemostipak/volcano-eruptions/versions/1

In [2]:
print(os.listdir(path))

eruptions_path = os.path.join(path, "eruptions.csv")
volcano_path = os.path.join(path, "volcano.csv")

eruptions = pd.read_csv(eruptions_path)
volcano_types = pd.read_csv(volcano_path)

display(eruptions)
display(volcano_types)

['eruptions.csv', 'sulfur.csv', 'volcano.csv', 'events.csv', 'tree_rings.csv']

,volcano_number,volcano_name,eruption_number,eruption_category,area_of_activity,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day,latitude,longitude
0,266030,Soputan,22354,Confirmed Eruption,NaN,NaN,2020.0,3.0,23.0,Historical Observations,2020.0,4.0,2.0,1.112,124.737
1,343100,San Miguel,22355,Confirmed Eruption,NaN,NaN,2020.0,2.0,22.0,Historical Observations,2020.0,2.0,22.0,13.434,-88.269
2,233020,"Fournaise, Piton de la",22343,Confirmed Eruption,NaN,NaN,2020.0,2.0,10.0,Historical Observations,2020.0,4.0,6.0,-21.244,55.708
3,345020,Rincon de la Vieja,22346,Confirmed Eruption,NaN,NaN,2020.0,1.0,31.0,Historical Observations,2020.0,4.0,17.0,10.830,-85.324
4,353010,Fernandina,22347,Confirmed Eruption,NaN,NaN,2020.0,1.0,12.0,Historical Observations,2020.0,1.0,12.0,-0.370,-91.550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11173,324020,Craters of the Moon,21101,Confirmed Eruption,Sunset cone,0.0,-10060.0,NaN,NaN,Radiocarbon (uncorrected),NaN,NaN,NaN,43.420,-113.500
11174,222161,Igwisi Hills,22141,Confirmed Eruption,NE Volcano,1.0,-10450.0,NaN,NaN,Surface Exposure,NaN,NaN,NaN,-4.889,31.933
11175,357121,Quetrupillan,22351,Confirmed Eruption,NaN,3.0,-10658.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN,-39.496,-71.722
11176,357121,Quetrupillan,22352,Confirmed Eruption,NaN,3.0,-11345.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN,-39.496,-71.722
11177,390090,Saunders,21099,Confirmed Eruption,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-57.800,-26.483

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,MÃ©xico and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,55.862,160.603,3057,...,,,,,,,0,0,77,11184
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,MÃ©xico and Central America,Mexico,19.400,-100.250,3500,...,,Trachyandesite / Basaltic Trachyandesite,Trachybasalt / Tephrite Basanite,,,,231977,231977,490440,4838069
955,221020,Zubair Group,Shield,2013,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,15.050,42.180,191,...,,,,,,,7,7,7,671171
956,221021,Zukur,Shield,Unknown,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,14.020,42.750,624,...,,,,,,,508,922,1075,1472800
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,Canada and Western USA,USA (New Mexico),34.800,-108.000,2550,...,,,,,,,18,18,246,54738

In [3]:
path = kagglehub.dataset_download("deepcontractor/the-volcanoes-of-earth")

print(os.listdir(path))

file_path = os.path.join(path, "The_Volcanoes_Of_Earth.csv")

volcanoes_of_earth = pd.read_csv(file_path)
volcanoes_of_earth

['The_Volcanoes_Of_Earth.csv']

,Volcano_Name,Volcano_Image,Volcano_Type,Country,Region,Subregion,epoch_period,Last_Eruption,Summit_and_Elevatiuon,Latitude,Longitude,population_within_5km,population_within_10km,population_within_30km,population_within_100km
0,Abu,https://volcano.si.edu/gallery/photos/GVP-0895...,Shield(s),Japan,"Japan, Taiwan, Marianas",Honshu,holocene,6850 BCE,"641 m, 2103 ft",34.5Â°N,131.6Â°E,3597.0,9594.0,117805.0,4071152.0
1,Acamarachi,https://volcano.si.edu/gallery/photos/GVP-0688...,Stratovolcano,Chile,South America,"Northern Chile, Bolivia and Argentina",holocene,Unknown - Evidence Credible,"6023 m, 19760 ft",23.292Â°S,67.618Â°W,0.0,7.0,294.0,9092.0
2,Acatenango,https://volcano.si.edu/gallery/photos/GVP-0788...,Stratovolcano(es),Guatemala,MÃ©xico and Central America,Guatemala,holocene,1972 CE,"3976 m, 13045 ft",14.501Â°N,90.876Â°W,4329.0,60730.0,1042836.0,7634778.0
3,Acigol-Nevsehir,https://volcano.si.edu/includes/images/noimage...,Caldera,Turkey,Mediterranean and Western Asia,Turkey,holocene,2080 BCE,"1683 m, 5522 ft",38.537Â°N,34.621Â°E,127863.0,127863.0,218469.0,2253483.0
4,Adams,https://volcano.si.edu/gallery/photos/GVP-0281...,Stratovolcano,United States,Canada and Western USA,USA (Washington),holocene,950 CE,"3742 m, 12277 ft",46.206Â°N,121.49Â°W,0.0,70.0,4019.0,393303.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,Zarechny,https://volcano.si.edu/includes/images/noimage...,Caldera(s),Russia,Volcanic Region,Kamchatka Peninsula,pleistocene,Pleistocene,"760 m, 2493 ft",56.38Â°N,160.83Â°E,NaN,NaN,NaN,NaN
2658,Zenikame,https://volcano.si.edu/includes/images/noimage...,Submarine,Japan,Volcanic Region,Hokkaido,pleistocene,Pleistocene,"-30 m, -98 ft",41.737Â°N,140.855Â°E,NaN,NaN,NaN,NaN
2659,Zheltiy,https://volcano.si.edu/includes/images/noimage...,Stratovolcano,Russia,Volcanic Region,Kamchatka Peninsula,pleistocene,Pleistocene,"792 m, 2598 ft",51.93Â°N,157.6Â°E,NaN,NaN,NaN,NaN
2660,Zhupanovskiye Vostriyaky,https://volcano.si.edu/includes/images/noimage...,Stratovolcano,Russia,Volcanic Region,Kamchatka Peninsula,pleistocene,Pleistocene,"1684 m, 5525 ft",53.8Â°N,159.28Â°E,NaN,NaN,NaN,NaN
2661,Zikwala,https://volcano.si.edu/includes/images/noimage...,Stratovolcano,Ethiopia,Volcanic Region,Africa (northeastern) and Red Sea,pleistocene,Pleistocene,"2989 m, 9806 ft",8.53Â°N,38.85Â°E,NaN,NaN,NaN,NaN

## Data Cleaning

#### Eruptions

In [4]:
# Investigating interetsing columns

eruptions = eruptions[['volcano_name', 'vei', 'start_year',	'latitude', 'longitude']]
eruptions.isna().sum()

volcano_name       0
vei             2906
start_year         1
latitude           0
longitude          0
dtype: int64

In [5]:
# Treating null values

eruptions.dropna(subset=['start_year'], inplace=True)
eruptions['vei'] = eruptions['vei'].fillna(-1)

In [6]:
eruptions

                 volcano_name  vei  start_year  latitude  longitude
0                     Soputan -1.0      2020.0     1.112    124.737
1                  San Miguel -1.0      2020.0    13.434    -88.269
2      Fournaise, Piton de la -1.0      2020.0   -21.244     55.708
3          Rincon de la Vieja -1.0      2020.0    10.830    -85.324
4                  Fernandina -1.0      2020.0    -0.370    -91.550
...                       ...  ...         ...       ...        ...
11172             Nemrut Dagi -1.0     -9950.0    38.654     42.229
11173     Craters of the Moon  0.0    -10060.0    43.420   -113.500
11174            Igwisi Hills  1.0    -10450.0    -4.889     31.933
11175            Quetrupillan  3.0    -10658.0   -39.496    -71.722
11176            Quetrupillan  3.0    -11345.0   -39.496    -71.722

[11177 rows x 5 columns]

In [7]:
# Cleaning start_year column

eruptions["start_year"] = pd.to_numeric(eruptions['start_year'], downcast='integer', errors='coerce')
eruptions.rename(columns={"start_year": "year"}, errors="raise")

                 volcano_name  vei   year  latitude  longitude
0                     Soputan -1.0   2020     1.112    124.737
1                  San Miguel -1.0   2020    13.434    -88.269
2      Fournaise, Piton de la -1.0   2020   -21.244     55.708
3          Rincon de la Vieja -1.0   2020    10.830    -85.324
4                  Fernandina -1.0   2020    -0.370    -91.550
...                       ...  ...    ...       ...        ...
11172             Nemrut Dagi -1.0  -9950    38.654     42.229
11173     Craters of the Moon  0.0 -10060    43.420   -113.500
11174            Igwisi Hills  1.0 -10450    -4.889     31.933
11175            Quetrupillan  3.0 -10658   -39.496    -71.722
11176            Quetrupillan  3.0 -11345   -39.496    -71.722

[11177 rows x 5 columns]

In [8]:
eruptions[(eruptions["latitude"] == -21.338) & (eruptions["longitude"] == -175.650)]

     volcano_name  vei  start_year  latitude  longitude
3338      Unnamed  0.0        1932   -21.338    -175.65
4124      Unnamed  0.0        1907   -21.338    -175.65

In [9]:
# Manually adding volanic names based on latitude and logitude to unnamed ones

volcano_names = {
    (-20.852, -175.550): 'Hunga Tonga-Hunga Ha\'apai',
    (-18.325, -174.365): 'Late Island',
    (46.470, 151.280): 'Chirinkotan',
    (45.022, 147.019): 'Ekarma',
    (-21.338, -175.650): 'Kao',
    (21.830, 121.180): 'Green Island',
    (20.330, 121.750): 'Babuyan Claro',
    (24.132, 121.926): 'Qixing Mountain'
}

# Update the volcano names
eruptions['volcano_name'] = eruptions.apply(
    lambda row: volcano_names.get((row['latitude'], row['longitude']), row['volcano_name']),
    axis=1
)

#### Volcano types

In [10]:
volcano_types

,volcano_number,volcano_name,primary_volcano_type,last_eruption_year,country,region,subregion,latitude,longitude,elevation,...,major_rock_5,minor_rock_1,minor_rock_2,minor_rock_3,minor_rock_4,minor_rock_5,population_within_5_km,population_within_10_km,population_within_30_km,population_within_100_km
0,283001,Abu,Shield(s),-6850,Japan,"Japan, Taiwan, Marianas",Honshu,34.500,131.600,641,...,,,,,,,3597,9594,117805,4071152
1,355096,Acamarachi,Stratovolcano,Unknown,Chile,South America,"Northern Chile, Bolivia and Argentina",-23.292,-67.618,6023,...,,,,,,,0,7,294,9092
2,342080,Acatenango,Stratovolcano(es),1972,Guatemala,MÃ©xico and Central America,Guatemala,14.501,-90.876,3976,...,,Basalt / Picro-Basalt,,,,,4329,60730,1042836,7634778
3,213004,Acigol-Nevsehir,Caldera,-2080,Turkey,Mediterranean and Western Asia,Turkey,38.537,34.621,1683,...,,,,,,,127863,127863,218469,2253483
4,321040,Adams,Stratovolcano,950,United States,Canada and Western USA,USA (Washington),46.206,-121.490,3742,...,,Dacite,,,,,0,70,4019,393303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,300242,Zimina,Stratovolcano(es),Unknown,Russia,Kamchatka and Mainland Asia,Kamchatka Peninsula,55.862,160.603,3057,...,,,,,,,0,0,77,11184
954,341061,Zitacuaro-Valle de Bravo,Caldera,-3050,Mexico,MÃ©xico and Central America,Mexico,19.400,-100.250,3500,...,,Trachyandesite / Basaltic Trachyandesite,Trachybasalt / Tephrite Basanite,,,,231977,231977,490440,4838069
955,221020,Zubair Group,Shield,2013,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,15.050,42.180,191,...,,,,,,,7,7,7,671171
956,221021,Zukur,Shield,Unknown,Yemen,Africa and Red Sea,Africa (northeastern) and Red Sea,14.020,42.750,624,...,,,,,,,508,922,1075,1472800
957,327120,Zuni-Bandera,Volcanic field,-1170,United States,Canada and Western USA,USA (New Mexico),34.800,-108.000,2550,...,,,,,,,18,18,246,54738

In [11]:
volcano_types = volcano_types[['volcano_name', 'primary_volcano_type', 'elevation']]
volcano_types

                 volcano_name primary_volcano_type  elevation
0                         Abu            Shield(s)        641
1                  Acamarachi        Stratovolcano       6023
2                  Acatenango    Stratovolcano(es)       3976
3             Acigol-Nevsehir              Caldera       1683
4                       Adams        Stratovolcano       3742
..                        ...                  ...        ...
953                    Zimina    Stratovolcano(es)       3057
954  Zitacuaro-Valle de Bravo              Caldera       3500
955              Zubair Group               Shield        191
956                     Zukur               Shield        624
957              Zuni-Bandera       Volcanic field       2550

[958 rows x 3 columns]

In [12]:
# Cleaning primary_volcano_type column

volcano_types['primary_volcano_type'] = volcano_types['primary_volcano_type'].replace({
    "Stratovolcano":"Stratovolcano(es)",
    "Stratovolcano?": "Stratovolcano(es)",
    "Pyroclastic cone": "Pyroclastic cone(s)",
    "Shield": "Shield(s) ",
    "Lava dome": "Lava dome(s)",
    "Caldera": "Caldera(s)",
    "Tuff cone": "Tuff cone(s)",
    "Complex": "Complex(es)",
    "Lava cone": "Lava cone(s)",
    "Lava cone(es)": "Lava cone(s)"
})


volcano_types['primary_volcano_type'].value_counts()

/var/folders/yz/shh48k7s5kg3qtp0x9hzjb6c0000gn/T/ipykernel_13058/3315200974.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volcano_types['primary_volcano_type'] = volcano_types['primary_volcano_type'].replace({

primary_volcano_type
Stratovolcano(es)      461
Shield(s)               85
Caldera(s)              74
Pyroclastic cone(s)     74
Volcanic field          71
Complex(es)             47
Shield(s)               33
Lava dome(s)            29
Submarine               27
Fissure vent(s)         12
Compound                 9
Maar(s)                  8
Tuff cone(s)             8
Pyroclastic shield       7
Crater rows              5
Subglacial               5
Lava cone(s)             3
Name: count, dtype: int64

In [13]:
# Merge volcano types and elevations to eruptions dataset

pd.merge(eruptions, volcano_types, on='volcano_name', how='left')

,volcano_name,vei,start_year,latitude,longitude,primary_volcano_type,elevation
0,Soputan,-1.0,2020,1.112,124.737,Stratovolcano(es),1785.0
1,San Miguel,-1.0,2020,13.434,-88.269,NaN,NaN
2,"Fournaise, Piton de la",-1.0,2020,-21.244,55.708,Shield(s),2632.0
3,Rincon de la Vieja,-1.0,2020,10.830,-85.324,Complex(es),1916.0
4,Fernandina,-1.0,2020,-0.370,-91.550,NaN,NaN
...,...,...,...,...,...,...,...
11238,Nemrut Dagi,-1.0,-9950,38.654,42.229,Stratovolcano(es),2948.0
11239,Craters of the Moon,0.0,-10060,43.420,-113.500,Pyroclastic cone(s),2005.0
11240,Igwisi Hills,1.0,-10450,-4.889,31.933,Pyroclastic cone(s),1146.0
11241,Quetrupillan,3.0,-10658,-39.496,-71.722,Stratovolcano(es),2360.0
11242,Quetrupillan,3.0,-11345,-39.496,-71.722,Stratovolcano(es),2360.0

#### Volcano Types

In [14]:
volcanoes_of_earth.columns = [column.lower() for column in volcanoes_of_earth.columns]

In [15]:
volcanoes_of_earth = volcanoes_of_earth[['volcano_name', 'volcano_type', 'epoch_period', 'summit_and_elevatiuon']]

In [16]:
# Cleaning primary_volcano_type column

volcanoes_of_earth['volcano_type'] = volcanoes_of_earth['volcano_type'].replace({
    "Stratovolcano":"Stratovolcano(es)",
    "Stratovolcano?": "Stratovolcano(es)",
    "Pyroclastic cone": "Pyroclastic cone(s)",
    "Shield": "Shield(s)",
    "Shield?": "Shield(s)",
    "Lava dome": "Lava dome(s)",
    "Caldera": "Caldera(s)",
    "Caldera(?)": "Caldera(s)",
    "Tuff cone": "Tuff cone(s)",
    "Complex": "Complex(es)",
    "Lava cone": "Lava cone(s)",
    "Lava cone(es)": "Lava cone(s)",
    "Cone": "Cone(s)",
    "Explosion crater": "Explosion crater(s)",
    "Explosion crater(?)": "Explosion crater(s)",
    "Lava dome(s) ?": "Lava dome(s)",
    "Fissure vent(s) ?": "Fissure vent(s)"

})


volcanoes_of_earth['volcano_type'].value_counts()

/var/folders/yz/shh48k7s5kg3qtp0x9hzjb6c0000gn/T/ipykernel_13058/1478020538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volcanoes_of_earth['volcano_type'] = volcanoes_of_earth['volcano_type'].replace({

volcano_type
Stratovolcano(es)      1102
Shield(s)               353
Volcanic field          220
Pyroclastic cone(s)     208
Submarine               177
Caldera(s)              141
Lava dome(s)            122
Unknown                  96
Complex(es)              62
Fissure vent(s)          29
Cone(s)                  25
Compound                 18
Maar(s)                  18
Tuff cone(s)             17
Tuya                     11
Fissure vent              9
Lava cone(s)              9
Maar                      9
Pyroclastic shield        9
Explosion crater(s)       8
Subglacial                6
Crater rows               6
Volcanic remnant          3
Tuff ring(s)              2
Submarine(es)             2
Name: count, dtype: int64

In [17]:
volcanoes_of_earth['epoch_period'] = volcanoes_of_earth['epoch_period'].replace({
        "holocene":"Holoceno",
        "pleistocene": "Pleistocene"
    })

/var/folders/yz/shh48k7s5kg3qtp0x9hzjb6c0000gn/T/ipykernel_13058/2319368179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volcanoes_of_earth['epoch_period'] = volcanoes_of_earth['epoch_period'].replace({

In [18]:
volcanoes_of_earth.rename(columns={'summit_and_elevatiuon':'elevation'}, inplace=True)
volcanoes_of_earth

/var/folders/yz/shh48k7s5kg3qtp0x9hzjb6c0000gn/T/ipykernel_13058/3500446352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volcanoes_of_earth.rename(columns={'summit_and_elevatiuon':'elevation'}, inplace=True)

,volcano_name,volcano_type,epoch_period,elevation
0,Abu,Shield(s),Holoceno,"641 m, 2103 ft"
1,Acamarachi,Stratovolcano(es),Holoceno,"6023 m, 19760 ft"
2,Acatenango,Stratovolcano(es),Holoceno,"3976 m, 13045 ft"
3,Acigol-Nevsehir,Caldera(s),Holoceno,"1683 m, 5522 ft"
4,Adams,Stratovolcano(es),Holoceno,"3742 m, 12277 ft"
...,...,...,...,...
2657,Zarechny,Caldera(s),Pleistocene,"760 m, 2493 ft"
2658,Zenikame,Submarine,Pleistocene,"-30 m, -98 ft"
2659,Zheltiy,Stratovolcano(es),Pleistocene,"792 m, 2598 ft"
2660,Zhupanovskiye Vostriyaky,Stratovolcano(es),Pleistocene,"1684 m, 5525 ft"
2661,Zikwala,Stratovolcano(es),Pleistocene,"2989 m, 9806 ft"

In [19]:
volcanoes_of_earth[volcanoes_of_earth.isnull().any(axis=1)]

     volcano_name       volcano_type epoch_period elevation
1343          Aak  Stratovolcano(es)  Pleistocene       NaN

In [20]:
volcanoes_of_earth.loc[1343, 'elevation'] = 2319
volcanoes_of_earth[volcanoes_of_earth['volcano_name'] == 'Aak']

     volcano_name       volcano_type epoch_period elevation
1343          Aak  Stratovolcano(es)  Pleistocene      2319

In [21]:
volcanoes_of_earth['elevation'].value_counts().reset_index()

             elevation  count
0           Unknown,      125
1       600 m, 1969 ft     12
2       500 m, 1640 ft      9
3      1000 m, 3281 ft      9
4      1100 m, 3609 ft      8
...                ...    ...
1832    940 m, 3084 ft      1
1833  3977 m, 13048 ft      1
1834   1088 m, 3570 ft      1
1835   -300 m, -984 ft      1
1836   2989 m, 9806 ft      1

[1837 rows x 2 columns]

In [22]:
for index, value in volcanoes_of_earth['elevation'].items():
    if isinstance(value, str) and "Unknown," in value:
        volcanoes_of_earth.at[index, 'elevation'] = -99999
    elif isinstance(value, str): 
        volcanoes_of_earth.at[index, 'elevation'] = int(value.split()[0])
    elif isinstance(value, (int, float)):
        volcanoes_of_earth.at[index, 'elevation'] = int(value)
    else:
        volcanoes_of_earth.at[index, 'elevation'] = -99999


volcanoes_of_earth['elevation'].value_counts().reset_index()

      elevation  count
0        -99999    125
1           600     12
2           500      9
3          1000      9
4          1100      8
...         ...    ...
1832        940      1
1833       3977      1
1834       1088      1
1835       -300      1
1836       2989      1

[1837 rows x 2 columns]

In [23]:
eruptions_and_types = pd.merge(eruptions, volcanoes_of_earth, on='volcano_name', how='left')
eruptions_and_types.drop_duplicates()

,volcano_name,vei,start_year,latitude,longitude,volcano_type,epoch_period,elevation
0,Soputan,-1.0,2020,1.112,124.737,Stratovolcano(es),Holoceno,1785
1,San Miguel,-1.0,2020,13.434,-88.269,Stratovolcano(es),Holoceno,2130
2,"Fournaise, Piton de la",-1.0,2020,-21.244,55.708,Shield(s),Holoceno,2632
3,Rincon de la Vieja,-1.0,2020,10.830,-85.324,Complex(es),Holoceno,1916
4,Fernandina,-1.0,2020,-0.370,-91.550,Shield(s),Holoceno,1476
...,...,...,...,...,...,...,...,...
11282,Nemrut Dagi,-1.0,-9950,38.654,42.229,Stratovolcano(es),Holoceno,2948
11283,Craters of the Moon,0.0,-10060,43.420,-113.500,Pyroclastic cone(s),Holoceno,2005
11284,Igwisi Hills,1.0,-10450,-4.889,31.933,Pyroclastic cone(s),Holoceno,1146
11285,Quetrupillan,3.0,-10658,-39.496,-71.722,Stratovolcano(es),Holoceno,2360
11286,Quetrupillan,3.0,-11345,-39.496,-71.722,Stratovolcano(es),Holoceno,2360

In [24]:
def load_eruption_data():
    # Loading datasets
    eruptions_path = kagglehub.dataset_download("jessemostipak/volcano-eruptions")
    volcanoes_path = kagglehub.dataset_download("deepcontractor/the-volcanoes-of-earth")
    
    eruptions_file = os.path.join(eruptions_path, "eruptions.csv")
    volcanoes_file = os.path.join(volcanoes_path, "The_Volcanoes_Of_Earth.csv")

    eruptions = pd.read_csv(eruptions_file)
    volcanoes_of_earth = pd.read_csv(volcanoes_file)

    # Cleaning eruptions dataset
    eruptions = eruptions[['volcano_name', 'vei', 'start_year',	'latitude', 'longitude']]
    eruptions.dropna(subset=['start_year'], inplace=True)
    eruptions['vei'] = eruptions['vei'].fillna(-1)
    eruptions["start_year"] = pd.to_numeric(eruptions['start_year'], downcast='integer', errors='coerce')
    eruptions.rename(columns={"start_year": "year"}, errors="raise", inplace=True)

    # Cleaning volcano names
    volcano_names = {
    (-20.852, -175.550): 'Hunga Tonga-Hunga Ha\'apai',
    (-18.325, -174.365): 'Late Island',
    (46.470, 151.280): 'Chirinkotan',
    (45.022, 147.019): 'Ekarma',
    (-21.338, -175.650): 'Kao',
    (21.830, 121.180): 'Green Island',
    (20.330, 121.750): 'Babuyan Claro',
    (24.132, 121.926): 'Qixing Mountain'
    }

    # Update the volcano names
    eruptions['volcano_name'] = eruptions.apply(
        lambda row: volcano_names.get((row['latitude'], row['longitude']), row['volcano_name']),
        axis=1
    )

    # Cleaning volcanos on earth
    volcanoes_of_earth.columns = [column.lower() for column in volcanoes_of_earth.columns]
    volcanoes_of_earth = volcanoes_of_earth[['volcano_name', 'volcano_type', 'epoch_period', 'summit_and_elevatiuon']]

    volcanoes_of_earth['volcano_type'] = volcanoes_of_earth['volcano_type'].replace({
        "Stratovolcano":"Stratovolcano(es)",
        "Stratovolcano?": "Stratovolcano(es)",
        "Pyroclastic cone": "Pyroclastic cone(s)",
        "Shield": "Shield(s)",
        "Shield?": "Shield(s)",
        "Lava dome": "Lava dome(s)",
        "Caldera": "Caldera(s)",
        "Caldera(?)": "Caldera(s)",
        "Tuff cone": "Tuff cone(s)",
        "Complex": "Complex(es)",
        "Lava cone": "Lava cone(s)",
        "Lava cone(es)": "Lava cone(s)",
        "Cone": "Cone(s)",
        "Explosion crater": "Explosion crater(s)",
        "Explosion crater(?)": "Explosion crater(s)",
        "Lava dome(s) ?": "Lava dome(s)",
        "Fissure vent(s) ?": "Fissure vent(s)"
    })

    volcanoes_of_earth['epoch_period'] = volcanoes_of_earth['epoch_period'].replace({
        "holocene":"Holoceno",
        "pleistocene": "Pleistocene"
    })

    # Renaming the column to "elevation"
    volcanoes_of_earth.rename(columns={'summit_and_elevatiuon':'elevation'}, inplace=True)
    # Replacing manually the value for Aak volcano
    volcanoes_of_earth.loc[1343, 'elevation'] = 2319
    
    # Process the elevation column
    for index, value in volcanoes_of_earth['elevation'].items():
        if isinstance(value, str) and "Unknown," in value:
            volcanoes_of_earth.at[index, 'elevation'] = -99999
        elif isinstance(value, str): 
            volcanoes_of_earth.at[index, 'elevation'] = int(value.split()[0])
        elif isinstance(value, (int, float)):
            volcanoes_of_earth.at[index, 'elevation'] = int(value)
        else:
            volcanoes_of_earth.at[index, 'elevation'] = -99999

    eruptions_and_types = pd.merge(eruptions, volcanoes_of_earth, on='volcano_name', how='left')

    return eruptions_and_types

In [25]:
eruptions_and_types = load_eruption_data()
eruptions_and_types

,volcano_name,vei,year,latitude,longitude,volcano_type,epoch_period,elevation
0,Soputan,-1.0,2020,1.112,124.737,Stratovolcano(es),Holoceno,1785
1,San Miguel,-1.0,2020,13.434,-88.269,Stratovolcano(es),Holoceno,2130
2,"Fournaise, Piton de la",-1.0,2020,-21.244,55.708,Shield(s),Holoceno,2632
3,Rincon de la Vieja,-1.0,2020,10.830,-85.324,Complex(es),Holoceno,1916
4,Fernandina,-1.0,2020,-0.370,-91.550,Shield(s),Holoceno,1476
...,...,...,...,...,...,...,...,...
11282,Nemrut Dagi,-1.0,-9950,38.654,42.229,Stratovolcano(es),Holoceno,2948
11283,Craters of the Moon,0.0,-10060,43.420,-113.500,Pyroclastic cone(s),Holoceno,2005
11284,Igwisi Hills,1.0,-10450,-4.889,31.933,Pyroclastic cone(s),Holoceno,1146
11285,Quetrupillan,3.0,-10658,-39.496,-71.722,Stratovolcano(es),Holoceno,2360
11286,Quetrupillan,3.0,-11345,-39.496,-71.722,Stratovolcano(es),Holoceno,2360

In [ ]:
#First recorded eruption year
eruptions_and_types.groupby('volcano_name')['year'].transform('min')

0         1450
1         1510
2        -2800
3        -1820
4          950
         ...
11282    -9950
11283   -10060
11284   -10450
11285   -11345
11286   -11345
Name: year, Length: 11287, dtype: int16

In [ ]:
def load_top_10_eruptions_count(eruptions_and_types):
    # Add the first_eruption_year column to the original DataFrame
    eruptions_and_types['first_eruption_year'] = eruptions_and_types.groupby('volcano_name')['start_year'].transform('min')

    # Group by volcano_name, volcano_type, and elevation, and count eruptions
    top_10_eruptions_count = (
        eruptions_and_types.groupby(['volcano_name', 'volcano_type', 'elevation', 'first_eruption_year'])
        .size()
        .reset_index(name='eruption_count')
        .sort_values(by='eruption_count', ascending=False)
        .head(10)
        .reset_index(drop=True)
    )

    # Apply styling to the final DataFrame
    styled_top_10 = top_10_eruptions_count.style.background_gradient(cmap='YlOrRd', subset=['eruption_count'])

    return styled_top_10

In [67]:
top_10_eruptions_count = load_top_10_eruptions_count(eruptions_and_types)
top_10_eruptions_count

KeyError: '`Styler.apply` and `.map` are not compatible with non-unique index or columns.'